.header {
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 28px;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.header {
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media screen and (max-width: 320px) {
	.header {
		padding: 16px 16px 0;
	}
}