.place__paragraph {
	margin: 0;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 26px;
}

.place__paragraph:last-of-type {
	margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
	.place__paragraph {
		margin-bottom: 27px;
	}
}

@media screen and (max-width: 768px) {
	.place__paragraph {
		font-size: 16px;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 450px) {
	.place__paragraph {
		font-size: 16px;
		margin-right: 16px;
		margin-left: 16px;
	}
}