.lead__subtitle {
	margin: 0 0 auto;
	line-height: 1.2;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	max-width: 640px;
	text-align: center;
	align-self: center;
	margin-top: 32px;
}

@media screen and (max-width: 700px) {
	.lead__subtitle {
		font-size: 16px;
		line-height: 1.25;
		margin-top: 16px;
	}
}